@media (max-width: 1200px) {
	header {
		margin-right: 15px;
		margin-left: 15px;
	}
}

@media (max-width: 1020px) {
	.number ul, .social ul, .menu {
		display: none;
	}
}

.burger{
  display: none;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 1020px) {
	.burger {
		display: block;
	}
}

@media (max-width: 1020px) {
	.social {
		margin-right: 65px;
	}
}

@media (max-width: 720px) {
	.contacts {
		display: block;
	}
}

@media (max-width: 720px) {
	.number {
		padding-top: 18px;
	}
}

@media (max-width: 720px) {
	.soc {
		margin-top: 18px;
	}
}

@media (max-width: 547px) {
	.social {
		display: none;
	}
}

@media (max-width: 547px) {
	.number {
		position: absolute;
		right: 15px;
		top: 70px;
	}
}

@media (max-width: 547px) {
	.number p {
		font-style: 11px;
		font-weight: 400;
		color: #7E7753;
	}
}

@media (max-width: 490px) {
	.number {
		top: 92px;
	}
}

.burger span, .burger span:before, .burger span:after{
  width: 100%;
  position: absolute;
  height: 10px;
  background: #7D4670;
  display: block;
  transition: .3s;
  border-radius: 5px;
}
.burger span:before{
  content: "";
  top: -20px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span{
  top: 20px;
}
.burger span:after{
  content: "";
  bottom: -20px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span.active:before{
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active:after{
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active{
  background: rgba(255, 255, 255, 0); 
}

.mobile-menu{
  width: 140px;
  height: auto;
  background: #7D4670;
  color: #fff;
  padding: 10px;
  position: fixed;
  left: -320px;
  transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.mobile-menu ul li {
	padding-bottom: 6px;
}

.mobile-menu ul li a {
	color: #fff;
}

.mobile-menu ul li a:hover {
	font-weight: 700;
}

.mobile-menu.animate{
  left: 0;
}

@media (max-width: 1200px) {
	.slider {
		margin-right: 15px;
		margin-left: 15px;
	}
}

@media (max-width: 1130px) {
	.graphics, .right-side {
		display: none;
	}
}

@media (max-width: 1130px) {
	.slider {
		margin-right: 80px;
		margin-left: 80px;
	}
}

@media (max-width: 1130px) {
	.color-bar {
		margin-left: 660px;
	}
}

@media (max-width: 995px) {
	.slider {
		margin-right: 40px;
		margin-left: 40px;
	}
}

@media (max-width: 995px) {
	.color-bar {
		margin-left: 560px;
	}
}

@media (max-width: 900px) {
	.slider {
		margin-top: 0px;
		width: 730px;
		height: 450px;
	}
}

@media (max-width: 900px) {
	.slidebar {
		height: 450px;
	}
}

@media (max-width: 900px) {
	.slider-title h1 {
		font-size: 30px;
		line-height: 35px;
	}
}

@media (max-width: 900px) {
	.second {
		font-size: 80px;
		line-height: 80px;
	}
}

@media (max-width: 900px) {
	.slider-text {
		width: 200px;
	}
}

@media (max-width: 900px) {
	.slider-text h3 {
		font-size: 50px;
		margin-left: 10px;
	}
}

@media (max-width: 900px) {
	.slider-text p {
		font-size: 16px;
		margin-left: 20px;
	}
}

@media (max-width: 900px) {
	.slider-callbtn button {
		width: 200px;
	    height: 50px;
	    font-size: 16px;
	    line-height: 18px;
	    margin-top: 25px;
	}
}

@media (max-width: 900px) {
	.slider-callbtn:hover button {
		font-size: 18px;
	}
}

@media (max-width: 900px) {
	.item img {
		width: 166px;
		height: 254px;
		left: 320px;
	}
}

@media (max-width: 900px) {
	.color-bar {
		width: 200px;
		height: 400px;
		margin-left: 550px;
	}
}

@media (max-width: 900px) {
	.slider .prev, .slider .next {
	    margin-top: 0px;
	}
}

@media (max-width: 776px) {
	.color-bar {
		width: 150px;
		height: 400px;
		margin-left: 550px;
	}
}

@media (max-width: 730px) {
	.item img {
		width: 83px;
		height: 127px;
		top: 180px;
		left: 220px;
	}
}

@media (max-width: 730px) {
	.color-bar {
		width: 100px;
		margin-left: 460px;
	}
}

@media (max-width: 730px) {
	.slider {
		width: 610px;
	}
}

@media (max-width: 610px) {
	.slider {
		width: 510px;
	}
}

@media (max-width: 610px) {
	.color-bar {
		width: 100px;
		margin-left: 380px;
	}
}

@media (max-width: 510px) {
	.color-bar {
		display: none;
	}
}

@media (max-width: 510px) {
	.slidebar {
		margin-top: 15px;
	}
}

@media (max-width: 510px) {
	.slider-title h1 {
		font-size: 22px;
		line-height: 18px;
		width: 280px;
	}
}

@media (max-width: 510px) {
	.second {
		font-size: 26px;
		line-height: 22px;
	}
}

@media (max-width: 510px) {
	.slider-text {
		
	}
}

@media (max-width: 510px) {
	.slider-text h3 {
		font-size: 26px;
		margin-top: 15px;
		margin-left: 10px;
		width: 250px;
	}
}

@media (max-width: 510px) {
	.slider-text p {
		font-size: 16px;
		margin-left: 20px;
	}
}

@media (max-width: 510px) {
	.slider-callbtn button {
		width: 150px;
	    height: 40px;
	    font-size: 13px;
	    line-height: 14px;
	    margin-top: 25px;
	}
}

@media (max-width: 510px) {
	.slider-callbtn:hover button {
		font-size: 14px;
	}
}

@media (max-width: 510px) {
	.item img {
		width: 83px;
		height: 127px;
		top: 50px;
		left: 190px;
	}
}

@media (max-width: 510px) {
	.slidebar {
		height: 250px;
	}
}

@media (max-width: 510px) {
	.slider {
		height: 320px;
		width: 320px;
		margin: 0px;
	}
}

@media (max-width: 510px) {
	.slider .prev, .slider .next {
		bottom: 85px;
		left: 200px;
	}
}

@media (max-width: 510px) {
	.slider .next {
		left: 249px;
	}
}

@media (max-width: 510px) {
	.slider-dots {
		bottom: 60px;
		left: 190px;
	}
}

@media (max-width: 510px) {
	.slider-dots_item {
		width: 10px;
		height: 10px;
		margin-right: 4px;
	}
}

@media (max-width: 360px) {
	.slider .prev, .slider .next {
		left: 160px;
	}
}

@media (max-width: 360px) {
	.slider .next {
		left: 209px;
	}
}

@media (max-width: 360px) {
	.slider-dots {
		bottom: 60px;
		left: 170px;
	}
}

@media (max-width: 360px) {
	.item img {
		width: 60px;
		height: 80px;
		top: 60px;
	}
}

@media (max-width: 600px) {
	.products h2 {
	font-weight: 700;
	font-size: 28px;
	line-height: 28px;
	padding-top: 20px;
	padding-bottom: 18px;
	}
}

@media (max-width: 600px) {
	.cards {
	margin-top: 25px;
	padding-bottom: 25px;
	}
}

@media (max-width: 1030px) {
	.advantages {
		justify-content: none;
		flex-wrap: wrap;
	}
}

@media (max-width: 1030px) {
	.adv-union {
		margin-right: 5px;
		margin-left: 5px;
	}
}

@media (max-width: 350px) {
	.advantages {
		margin-top: 4px;
		margin-bottom: 20px;
	}
}

@media (max-width: 350px) {
	.adv-icon {
		padding-top: 34px;
	}
}

@media (max-width: 350px) {
	.ourskills h3 {
		font-weight: 700;
		font-size: 28px;
		line-height: 28px;
		padding-top: 20px;
		padding-bottom: 18px;
	}
}

@media (max-width: 350px) {
	.adv-text p {
	padding-top: 40px;
}
}

@media (max-width: 1139px) {
	.fotmenu {
	margin-right: 124px;
}
}

@media (max-width: 1056px) {
	.fotmenu {
	margin-right: 80px;
}
}

@media (max-width: 979px) {
	.fotmenu {
	margin-right: 30px;
}
}

@media (max-width: 903px) {
	.menu-footer, .bottom-social p, .bottom-solid, .bottom-social h5 {
	display: none;
}
}

@media (max-width: 903px) {
	footer {
	height: 102px;
}
}

@media (max-width: 903px) {
	#logo-footer {
	padding-top: 5px;
	padding-bottom: 5px;
	}
}

@media (max-width: 350px) {
	.logo {
	width: 200px;
	height: 75px;
	}
}

@media (max-width: 445px) {
	#logo-footer {
	display: none;
	}
}

@media (max-width: 445px) {
	.bottom-social {
	margin-right: 25px;
	}
}

